{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <h1>Produto</h1>
  <table border="1">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Preço</th>
                <th>Estoque</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="{% url 'index' %}"> {{ product.name }}</a></td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>